<!doctype html>
<html lang="ru">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

    <link rel="stylesheet" href="style.css"/>

    <title>Users List</title>
</head>
<body>

<div class="container mt-4 shadow-lg p-3 mb-5 bg-body rounded">
    <button id="btnCreate" type="button" class="btn btn-primary" data-bs-toggle="modal" >Create</button>
    <table id = tableArticul class="table mt-2 table-bordered table-striped">
        <thead>
        <tr class="text-center">
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Email</th>
            <th>Password</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="modalArticul" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Add Users</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="name" class="col-form-label">Name</label>
                    <input id="name" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="surname" class="col-form-label">Surname</label>
                    <input id="surname" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="age" class="col-form-label">Age</label>
                    <input id="age" type="number" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="email" class="col-form-label">Email</label>
                    <input id="email" type="email" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password" class="col-form-label">Password</label>
                    <input id="password" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="rolesCreate" class="com-form-label">Role:</label>
                    <select multiple id="rolesCreate" class="form-control select" size="2">
                        <option value="ROLE_USER">USER</option>
                        <option value="ROLE_ADMIN">ADMIN</option>
                    </select>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        </form>
    </div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<script src="/js/app.js"></script>

</body>
</html>