<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<body>


<form th:method="PATCH" th:action="@{/editUser/{id}(id=${user.getId()})}" th:object="${user}">

    <div class="mb-3">
    <label for="id" class="form-label">Id</label>
    <input readonly type="number" class="form-control" th:field="*{id}" id="id">


    <br>

    <div class="mb-3">
    <label for="name" class="form-label">First name</label>
    <input type="text" class="form-control" th:field="*{name}" id="name"/>
<!--    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>-->

    <br>

    <div class="mb-3">
    <label for="surname" class="form-label">Last Name</label>
    <input type="text" class="form-control" th:field="*{surname}" id="surname"/>
<!--    <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Last Name error</div>-->

    <br>

    <div class="mb-3">
    <label for="age" class="form-label">Age</label>
    <input type="text" class="form-control" th:field="*{age}" id="age"/>
<!--    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>-->

    <br>

    <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" class="form-control" th:field="*{email}" id="email"/>
<!--    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>-->

    <br>

    <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="text" class="form-control" th:field="*{password}" id="password"/>
        <!--    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{passsword}">Password error</div>-->

    <br>

    <label for="roles">Role</label>
    <select multiple class="form-control form-control-sm" id="roles" name="roles" size="2" required>
        <option th:each="role: ${roles}" th:value="${role.id}" th:selected="${user.roles.contains(role)}">
            <th:block th:text="${role.userRole}">
            </th:block>
        </option>>
        <input type="submit" value="Update User"/>

        <br>
        <br>


<button class="btn btn-info" data-toggle="modal" data-target="#myModal">Edit</button>
<div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">х</button>
                <h4 class="modal-title">Edit User</h4>
            </div>
            <div class="modal-body">
<!--                <form th:method="PATCH" th:action="@{/editUser/{id}(id=${user.getId()})}" th:object="${user}">-->

<!--                    <div class="mb-3">-->
<!--                        <label for="id" class="form-label">Id</label>-->
<!--                        <input readonly type="number" class="form-control" th:field="*{id}" id="id">-->


<!--                        <br>-->

<!--                        <div class="mb-3">-->
<!--                            <label for="name" class="form-label">First name</label>-->
<!--                            <input type="text" class="form-control" th:field="*{name}" id="name"/>-->
<!--                            &lt;!&ndash;    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>&ndash;&gt;-->

<!--                            <br>-->

<!--                            <div class="mb-3">-->
<!--                                <label for="surname" class="form-label">Last Name</label>-->
<!--                                <input type="text" class="form-control" th:field="*{surname}" id="surname"/>-->
<!--                                &lt;!&ndash;    <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Last Name error</div>&ndash;&gt;-->

<!--                                <br>-->

<!--                                <div class="mb-3">-->
<!--                                    <label for="age" class="form-label">Age</label>-->
<!--                                    <input type="text" class="form-control" th:field="*{age}" id="age"/>-->
<!--                                    &lt;!&ndash;    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>&ndash;&gt;-->

<!--                                    <br>-->

<!--                                    <div class="mb-3">-->
<!--                                        <label for="email" class="form-label">Email</label>-->
<!--                                        <input type="text" class="form-control" th:field="*{email}" id="email"/>-->
<!--                                        &lt;!&ndash;    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>&ndash;&gt;-->

<!--                                        <br>-->

<!--                                        <div class="mb-3">-->
<!--                                            <label for="password" class="form-label">Password</label>-->
<!--                                            <input type="text" class="form-control" th:field="*{password}" id="password"/>-->
<!--                                            &lt;!&ndash;    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{passsword}">Password error</div>&ndash;&gt;-->

<!--                                            <br>-->

<!--                                            <label for="roles">Role</label>-->
<!--                                            <select multiple class="form-control form-control-sm" id="roles" name="roles" size="2" required>-->
<!--                                                <option th:each="role: ${roles}" th:value="${role.id}" th:selected="${user.roles.contains(role)}">-->
<!--                                                    <th:block th:text="${role.userRole}">-->
<!--                                                    </th:block>-->
<!--                                                </option>>-->
<!--                                                <input type="submit" value="Update User"/>-->

<!--                                                <br>-->
<!--                                                <br>-->
<!--                                        </div>-->
<!--                                        <div class="modal-footer">-->
<!--                                            <button class="btn btn-danger" data-dismiss="modal">Закрыть</button>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

</body>
</html>