<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<table th:border="1" th:width="500" th:high="300" th:color="red">

    <caption><h2>Users list</h2></caption>

    <br/><br/>

    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:utext="${user.id}">
        <td th:utext="${user.name}">
        <td th:utext=" ${user.surname}">
        <td th:utext=" ${user.age}">
        <td th:utext="${user.email}">
        <td th:utext="${user.password}">
        <td th:utext="${user.roles}">
    </tr>

</table>

<br>
<br>

<a href="/admin">admin page</a>

<br>
<br>

<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>